<% include ../layout/header.ejs %> 

<div id="page-wrapper">
    <div class="row">
        <div class="col-lg-8">
            <h1 class="page-header"> Danh sách đơn hàng</h1>
        </div>
    </div>
    <!-- /.row -->
    <div class="row">
        <% if(success_msg != ''){ %> 
            <div class="alert alert-success"><%= success_msg%></div>
        <% } %>
        <% if(error_msg1='') { %>
            <div class="alert alert-danger"><%= error_msg %>  </div>
        <% };%>
        <!-- /.col-lg-6 -->
        
        <div class="col-lg-12">
                    <ul class="nav nav-tabs">
                        <li role="presentation" class="active"><a href="/admin/order">Tất cả</a></li>
                        <li role="presentation"><a href="/admin/order/checked">Đã duyệt</a></li>
                        <li role="presentation"><a href="/admin/order/check">Chưa duyệt</a></li>
                    </ul>

            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>STT</th>
                                    <th> Người Mua hàng</th>
                                    <th> SDT</th>
                                    <th> Địa Chỉ</th>
                                    <th> Tổng giá tiền</th>
                                    <th> Trạng thái</th>
                                    <th> Action</th>
                                </tr>
                            </thead>
                            <tbody>
                                <% let i=1; listOrder.forEach(element => { %>
                                            <tr>
                                                <td><%= i %> </td>
                                                <td>
                                                    <%= element.username %>  
                                                </td>
                                                <td><%= element.phone_number %> </td>
                                                <td><%= element.address %> </td>
                                                <td><%= element.total_price %> </td>
                                                <td>
                                                    <% if (element.status == 1) { %>
                                                        <a class="btn btn-primary btn-xs" href="/admin/order/tocheck/<%= element._id %>" role="button">Đã duyệt</a>
                                                    <% } else { %>
                                                        <a class="btn btn-default btn-xs" href="/admin/order/tochecked/<%= element._id %>" role="button">Chưa duyệt</a>
                                                    <% } %>
                                                </td>
                                                <td>
                                                    <button type="button" class="btn btn-success btn-xs" data-toggle="modal" data-target="#modelId<%= i %> "> Xem</button>
                                                    <!-- Modal -->
                                                    <div class="modal fade" id="modelId<%= i %>" tabindex="-1" role="dialog" aria-labelledby="modelTitleId" aria-hidden="true">
                                                        <div class="modal-dialog" role="document">
                                                            <div class="modal-content">
                                                                    <div class="modal-header">
                                                                            <h5 class="modal-title"><%= element.username %></h5>
                                                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                                    <span aria-hidden="true">&times;</span>
                                                                                </button>
                                                                        </div>
                                                                <div class="modal-body">
                                                                    <div class="container-fluid">
                                                                        <table class="table table-sm table-responsive">
                                                                            <thead class="thead-inverse">
                                                                                <tr>
                                                                                    <th>STT</th>
                                                                                    <th>Tên sản phẩm</th>
                                                                                    <th>Số lượng</th>
                                                                                    <th>Màu sắc</th>
                                                                                    <th>Giá tiền</th>
                                                                                    <th>Thành tiền</th>
                                                                                </tr>
                                                                                </thead>
                                                                                <tbody>
                                                                                    <% let k=1; element.products.forEach(item => { %>
                                                                                        <tr>
                                                                                            <td><%= k %> </td>
                                                                                            <td><%= item.name %> </td>
                                                                                            <td><%= item.qty %> </td>
                                                                                            <td><%= item.color %></td>
                                                                                            <td><%= item.price %></td>
                                                                                            <td><%= item.total %></td>
                                                                                        </tr>
                                                                                    <% k++; }) %>
                                                                                </tbody>
                                                                        </table>
                                                                    </div>
                                                                </div>
                                                                <div class="modal-footer">
                                                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                                                                    <button type="button" class="btn btn-primary">Save</button>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </td>
                                            </tr>
                                        <% i++; }) %>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.table-responsive -->
                </div>
                <!-- /.panel-body -->
            </div>
            <!-- /.panel -->
        </div>
        <!-- /.col-lg-6 -->
    </div>
</div>
<!-- /#page-wrapper -->
<!-- Button trigger modal -->



<script>
    $('#exampleModal').on('show.bs.modal', event => {
        var button = $(event.relatedTarget);
        var modal = $(this);
        // Use above variables to manipulate the DOM
        
    });
</script>


<% include ../layout/footer.ejs %> 